name: Plane Assistant Production Docker

on:
  push:
    branches: [ "prod" ]
  pull_request:
    branches: [ "prod" ]

permissions:
  packages: write
  
jobs:
  db-image:
    runs-on: ubuntu-latest
    steps:
    - name: Setup repository
      uses: actions/checkout@v5
    - name: Registry login
      uses: docker/login-action@v3
      with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build the Image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: './docker/db/Dockerfile'
        push: true
        platforms: linux/amd64
        tags: ghcr.io/Martinhdeez/plane_assistant/db:latest

  api-image:
    runs-on: ubuntu-latest
    steps:
    - name: Setup SSH Key
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.DATATHON }}
    - name: Setup repository
      run: |
        git clone git@github.com:Martinhdeez/plane_assistant.git
    - name: Registry login
      uses: docker/login-action@v3
      with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build the Image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: './docker/api/Dockerfile'
        push: true
        platforms: linux/amd64
        tags: ghcr.io/Martinhdeez/plane_assistant/api:latest

  web-image:
    runs-on: ubuntu-latest
    steps:
    - name: Setup repository
      uses: actions/checkout@v5
    - name: Registry login
      uses: docker/login-action@v3
      with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build the Image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: './docker/web/Dockerfile'
        push: true
        platforms: linux/amd64
        tags: ghcr.io/Martinhdeez/plane_assistant/web:latest